body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
}

.glide {
  width: 1100px;
  position: relative;
  margin: 0 auto;
}

.slide1,
.slide2 {
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
  /* margin: 0 5%; */
}

.glide__slide img {
  width: 300px;
}

.glide__slide {
  text-align: center;
}

.glide__slide--active {}

.glide__slides {
  /* overflow: visible; */
}

.none {
  display: none;
}

.glide__slide a {
  color: black;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

.glide__slide a figcaption {
  margin-bottom: 10px;
}

button {
  background: #fff;
  border: black 2px solid;
  font-weight: bold;
  padding: 3px 7px;
  font-size: 18px;
  opacity: 30%;
}

button:hover {
  opacity: 70%;
  transition: ease all 0.5s;
}

.slide1 .glide__arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
}

.slide2 .glide__arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
}

.slide1 .glide__arrow--right {
  position: absolute;
  top: 50%;
  right: 0;
}

.slide2 .glide__arrow--right {
  position: absolute;
  top: 50%;
  right: 0;
}

.glide__slide {
  position: relative;
  overflow: hidden;
}

.slide_btn p {
  /* border: #fff 1px solid; */
  display: none;
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slide_btn {
  color: #fff;
  width: 300px;
  height: 212px;

  margin: 0 auto;
  border: #fff solid 1px;
  display: none;
}

.glide__slide a:hover .slide_btn {
  position: absolute;
  top: 0;
  left: 18.9%;
  display: block;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);

  animation-name: line;
  animation-duration: 0.5s;
}

.glide__slide a:hover .slide_btn p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes line {
  0% {
    transform: translateY(300px);
    transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  }

  100% {
    transform: translateY(0);
    transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  }
}

/*미디어쿼리*/
@media(max-width:1600px) {}

@media(max-width:1200px) {

  .glide {
    width: 100%;
  }
}

@media(max-width:600px) {}

@media(max-width:400px) {}